
app/Rutti/ios
app/Rutti/ios/Podfile.lock
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcworkspace/contents.xcworkspacedata
app/Rutti/ios/Rutti.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
