.DS_Store
app/Rutti/ios/Podfile.lock
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/Rutti/ios/Rutti.xcodeproj/project.xcworkspace/contents.xcworkspacedata
app/Rutti/ios/Rutti.xcworkspace/contents.xcworkspacedata
app/Rutti/ios/Rutti.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcodeproj/xcshareddata/xcschemes/Rutti.xcscheme

app/Rutti/ios/Rutti/Images.xcassets/AppIcon.appiconset/Contents.json
app/Rutti/ios/Rutti/Images.xcassets/AppIcon.appiconset/Contents.json
rutti-app/ios/Podfile.lock
rutti-app/ios/Rutti.xcworkspace/contents.xcworkspacedata
rutti-app/ios/Rutti.xcodeproj/project.pbxproj

rutti-app/android/google-services.json
rutti-app/ios/GoogleService-Info.plist
rutti-app/.env
