.DS_Store
app/Rutti/ios/Podfile.lock
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/Rutti/ios/Rutti.xcodeproj/project.xcworkspace/contents.xcworkspacedata
app/Rutti/ios/Rutti.xcworkspace/contents.xcworkspacedata
app/Rutti/ios/Rutti.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
app/Rutti/ios/Rutti.xcodeproj/project.pbxproj
app/Rutti/ios/Rutti.xcodeproj/xcshareddata/xcschemes/Rutti.xcscheme

app/Rutti/ios/Rutti/Images.xcassets/AppIcon.appiconset/Contents.json
app/Rutti/ios/Rutti/Images.xcassets/AppIcon.appiconset/Contents.json
